{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "WEBLoveLetterBundle::layout.html.twig" %}

{% block ocplatform_body %}
    <a id="Jouer" href="{{ path("oc_platform_jouer2") }}">Jouer</a>
{% endblock %}