{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "WEBLoveLetterBundle::layout.html.twig" %}

{% block ocplatform_body %}
    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">Love Letter</h1>
            <p class="splash-subhead">
                Imaginez un monde sans limites
            </p>
                <a href="{{ path("oc_platform_jouer") }}" class="pure-button pure-button-primary">Jouer</a>
        </div>
    </div>
{% endblock %}