{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "WEBLoveLetterBundle::layout.html.twig" %}

{% block ocplatform_body %}
    <a href="{{ path("oc_platform_piocher") }}"><img src="{{ asset ('bundles/webloveletter/img/cartes/pioche.png') }}"></a>
        {% if not carte == null %}
            <img src="{{ asset (carte.image) }}">
        {% endif %}
{% endblock %}