{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "WEBLoveLetterBundle::layout.html.twig" %}

{% block ocplatform_body %}
    <div class="travaux">
        <img  src="{{ asset ('bundles/webloveletter/img/entravaux.jpg') }}"/>
        <a href="{{ path('oc_platform_menu', {'id':1}) }}">Retour au menu</a>
    </div>
{% endblock %}