{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "WEBLoveLetterBundle::layout.html.twig" %}

{% block ocplatform_body %}
    <div class="LLetter">
        <p align=center class="LL-titre">LoveLetter</p>
        <div id="login">
            {% if error %}
                <div class="error">{{ error.message }}</div>
            {% endif %}
            <h1 class="con_titre">Connexion</h1>
            <form action="{{  path('login_check') }}" method="post" class="formulaire">
                <input class="pseudo" name="_username" type="text" placeholder="Pseudonyme"><br/>
                <input class="passw" name="_passeword" type="password" placeholder="Mot de passe"><br/>
                <input class="submit" type="submit" value="Connexion">
            </form>
        </div>
    </div>
{% endblock %}