{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "WEBLoveLetterBundle::layout.html.twig" %}

{% block ocplatform_body %}
    <div class="LLetter">
        <p align=center class="LL-titre">LoveLetter</p>
        <div id="login">
            <h1 class="con_titre">Connexion</h1>
            <form method="post" class="formulaire">
                <input class="pseudo" type="text" placeholder="Pseudonyme"><br/>
                <input class="passw" type="password" placeholder="Mot de passe"><br/>
                <input class="submit" type="submit" value="Connexion">
            </form>
        </div>
    </div>
{% endblock %}