{% extends "WEBLoveLetterBundle::layout.html.twig" %}

{% block ocplatform_body %}
    <a href="{{ path("oc_platform_piocher") }}"><img src="{{ asset ('bundles/webloveletter/img/cartes/pioche.png') }}"></a>
    {% if not carte == null %}
        <img src="{{ asset (carte.image) }}">
    {% endif %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
{% endblock %}