{% extends "WEBLoveLetterBundle::layout.html.twig" %}

{% block ocplatform_body %}
    <div class="regle">
        <img  src="{{ asset ('bundles/webloveletter/img/regle.png') }}"/>
        <a href="{{ path('oc_platform_menu', {'id':1}) }}">Retour au menu</a>
    </div>
{% endblock %}