<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/webloveletter/css/style.css') }}"/>
    {% endblock %}
    <script src="{{ asset('bundles/webloveletter/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/webloveletter/js/login.js') }}"></script>
    <title>{% block title %}LoveLetter{% endblock %}</title>
</head>
<body>
<div id="corps">
    {% block body %}

    {% endblock %}
</div>
</body>
</html>