body {
    background-color: #E4F1FE;
}

.login, .inscription{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 50%;
}

button[type=submit]
{
    background-color: #66CC99;
    border: 1px solid #66CC99;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

input[type=submit]
{
    background-color: #66CC99;
    border: 1px solid #66CC99;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width: 70%;
}

.button-ins
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus
{
    background-color: lightblue;
}

input[type=text], input[type=password], input[type=email]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}

.form-login
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-input
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.form-check, #_submit
{
    margin-top: 20px;
}

.menu-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu-nb
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #112233;
    border: 1px solid #112233;
    border-radius: 4px;
    color: #F0F1F5;
}

#Menu
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 50%;
}

.error
{
    border: 1px solid #FC575E;
    border-radius: 4px;
    background-color: #FC575E;
    width: 30%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.no_error
{
    width: 30%;
    height: 30px;
}

.LLetter
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.LL-titre
{
    font-size: 60px;
    font-family: Sensation;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 100%;
}

#login
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 200px;
    background-color: #1F3A93;
    border: 2px solid black;
    border-radius: 10px;
}

.con_titre
{
    font-family: Sensation;
    border-bottom: 1px solid white;
}

.regle2
{
    display: flex;
    width: 30%;
    height: 30%;
    justify-content: space-around;
    align-items: center;
}

.element
{
    display: flex;
    width: 30%;
    height: 30%;
    justify-content: space-around;
    align-items: center;
}

.point-a, .point-j
{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30%;
    align-items: center;
    justify-content: center;
}

.noma, .nomj
{
    font-size: 20px;
    font-family: Sensation;
    border-bottom: 1px solid black;
}

.plateau-a, .plateau-j
{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    height: 30%;
    align-items: center;
}

.plateau-a
{
    border: 6px solid #FC575E;
    border-radius: 4px;
}

.plateau-j
{
    border: 6px solid #112233;
    border-radius: 4px;
}

.plateau-a img, .plateau-j img
{
    width: 80%;
    height: 100%;
}

.adversaire
{
    display: flex;
    width: 30%;
    height: 30%;
    justify-content: space-around;
    align-items: center;
}

.main
 {
     display: flex;
     width: 30%;
     height: 30%;
     justify-content: space-around;
     align-items: center;
 }

.plateau_global
{
    display: flex;
    width: 30%;
    height: 30%;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #66CC99;
    background-color: #66CC99;
    border-radius: 4px;
    border: 6px solid darkgreen;
}

#Jouer
{
    text-align: center;
    width: 200px;
    height: 60px;
    background-color: blue;
    color: white;
    margin:auto;
    text-decoration: none;
    line-height: 60px;
    font-family: Sensation;
}

#corps
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    background-color: #44BBFF;
    height: 100%;
    align-items: center;
    font-family: Sensation;
}

.regle
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
}

.travaux
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
}

.travaux img
{
    width: 70%;
}

@font-face{
    font-family: 'Sensation';
    src: url('../font/Sansation.ttf');
}